body{padding:0;margin:0;}
#post-list{margin-top:50px;}
.post{max-width:240px;margin:5px;box-sizing:border-box;transition-duration:0.4s;transition-property:left, right, top;-webkit-transition-duration:0.4s;-webkit-transition-property:left, right, top;}.post:img{width:100%;border-radius:3px 3px 0px 0px;}
.editable{border-radius:5px;padding:5px;margin-right:5px;}.editable[contenteditable=true]{background-color:rgba(77, 77, 77, 0.29);}
.pinner-tag{margin:0 3px;}
