#post-list{
	margin-top: 50px; 
}

@column-width : 260px;

.post{
	
	max-width: @column-width;
	min-width: @column-width;
  	margin: 10px;
	box-sizing:border-box;

	transition-duration: 0.4s;
	transition-property: left, right, top;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: left, right, top;
	
	& img{
		min-width : @column-width;
		margin-left: -14px;
		padding: 8px;
		margin-top: -8px;
		margin-bottom: 5px;
	}

	& h3{
		margin: -10px auto 0px;		
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.link{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.editable{

	&[contenteditable=true]{
		// background-color: rgba(77, 77, 77, 0.29);
		color: #faa732;
	}
	
	border-radius: 5px;
	padding: 5px;
	margin-right: 5px;
}

.pinner-tag{
	margin: 0 3px 3px;
}

.pinner-control{
	float: right;
	margin-top: -42px;
	margin-right: 5px;
	opacity: 0.5;

	transition-duration: 0.4s;
	transition-property: opacity, width;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: opacity, width;

	&:hover{
		opacity: 1;
	}
}

#remote-gallery {
	width: 235px;
	max-height: 280px;
	margin-top : 20px;
	float: right;
	& span {

	transition-duration: 0.4s;
	transition-property: height,width;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: height,width;

		&:hover{
			border-color: #0088cc;
			-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
			-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
			box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
		}

		&.selected {

			& img{

			}

			border-color: red;
			-webkit-box-shadow: 0 1px 4px rgba(233, 5, 4, 0.25);
			   -moz-box-shadow: 0 1px 4px rgba(233, 5, 4, 0.25);
			        box-shadow: 0 1px 4px rgba(233, 5, 4, 0.25);
		}

		cursor:pointer;
		margin : 2px;
		display: block;
		width : 100px;
		height : 100px;
		float: left;
		min-height: 100px;
		& img{
			width : 100px;
			clip: rect(0px, 100px, 100px, 0px);
			position: absolute;
		}
	}
}

#new-post-rendered-tags{
	& span{
		cursor: pointer;
	}
}
#new-post-form{
	float:left;
	::-webkit-input-placeholder { 
		font-style: italic;
	}
	::-moz-placeholder { 
		font-style: italic;
		} /* firefox 19+ */
	:-ms-input-placeholder { 
		font-style: italic;
		} /* ie */
	input:-moz-placeholder { 
		font-style: italic;
	}

}

.no-image-alert{
	margin-top:15px;
}

#link-input-control-group{
	margin-bottom: 0;
}

#Pinner{
	// TODO : media queries to allow user to get mode than 4 columns in high resolution
	max-width: 1160px;
	margin: 0 auto;
	// -webkit-backface-visibility: hidden;
	// -webkit-perspective: 1000;
	// transform: translateZ(0);
	// -webkit-transform: translateZ(0);
	// -moz-transform: translateZ(0);
	// -o-transform: translateZ(0);
	// -ms-transform: translateZ(0);
}

.modal {
	width : 570px;
}