#main-container{
	margin-top: 50px; 
}

@column-width : 218px;

#search-form{
	margin-right: 5px;
}

.post{
	
	max-width: @column-width + 18;
	min-width: @column-width + 18;
  	margin: 10px;
  	padding: 0;
	box-sizing:border-box;

	transition-duration: 0.4s;
	transition-property: left, right, top;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: left, right, top;

	& img{
		min-width : 100%;
		max-width : 100%;
		margin:0;
		padding:0;
		border-radius: 3px 3px 0 0;
	}

	& h3{
		margin: -10px 0px -10px -5px;	
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		outline:none;
	}

	.post-header{
		height: 38px;
		background-color: rgb(65, 65, 65);
		border-radius: 3px 3px 0px 0px;
	}

	.post-link{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 5px 0 0 0px;
		display: block;
		font-size: 16px;
		background-image: url(../img/link.png);
		background-size: 20px;
		background-repeat: no-repeat;
		padding-left: 25px;
		background-position: 0% 50%;
		color : #777777;
	}

	.post-detail{
		padding:10px;
		background-color:white;
	}

	.post-timestamp{
		font-size: 12px;
		.count-tooltip{
			padding-left: 10px;
			margin-left: -10px;
		}
	}

	.pinner-tags{
		margin:0;
	}
}

.editable{

	&[contenteditable=true]{
		color: #faa732;
	}
	
	border-radius: 5px;
	padding: 5px;
	margin-right: 5px;
}

.pinner-tag{
	margin: 0 3px 3px;
}

.pinner-control{
	float: right;
	margin-top: -40px;
	margin-right: 0px;
	opacity: 0.5;
	transition-duration: 0.4s;
	transition-property: opacity, width;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: opacity, width;

	&:hover{
		opacity: 1;
	}
}

#remote-gallery {
	
	width: 235px;
	max-height: 280px;
	margin-top : 20px;
	float: right;
	
	span:hover{
		border-color: #0088cc;
		-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
		   -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
			    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	}

	span.selected {

		border-color: red;
		-webkit-box-shadow: 0 1px 4px rgba(233, 5, 4, 0.25);
		   -moz-box-shadow: 0 1px 4px rgba(233, 5, 4, 0.25);
		        box-shadow: 0 1px 4px rgba(233, 5, 4, 0.25);
	}

	span.little-thumbnail {

		transition-duration: 0.4s;
		transition-property: height,width;
		-webkit-transition-duration: 0.4s;
		-webkit-transition-property: height,width;
		cursor:pointer;
		margin : 5px 0 0 5px;
		display: block;
		width : 100px;
		height : 100px;
		float: left;
		min-height: 100px;
		
		& img{
			width : 100px;
			clip: rect(0px, 100px, 100px, 0px);
			position: absolute;
		}
	}

	.preview{

	}
}

#new-post-rendered-tags{
	& span{
		cursor: pointer;
	}
}

#new-post-form{
	float:left;
	::-webkit-input-placeholder { 
		font-style: italic;
	}
	::-moz-placeholder { 
		font-style: italic;
		} /* firefox 19+ */
	:-ms-input-placeholder { 
		font-style: italic;
		} /* ie */
	input:-moz-placeholder { 
		font-style: italic;
	}

}

#scroll-top{
	position: fixed;
	color: #888;
	bottom: -7px;
	padding: 10px 10px 15px;
	font-size: 13px;
	width: 100px;
	text-shadow: -1px -1px 0px #ffffff;
	-moz-box-shadow:0px 0px 7px 0px rgba(119, 119, 119, 0.5);
	-webkit-box-shadow:0px 0px 7px 0px rgba(119, 119, 119, 0.5);
	box-shadow:0px 0px 7px 0px rgba(119, 119, 119, 0.5);
}

.no-image-alert{
	margin-top:15px;
}

#link-input-control-group{
	margin-bottom: 0;
}

#Pinner{
	// TODO : media queries to allow user to get mode than 4 columns in high resolution
	max-width: 1160px;
	margin: 0 auto;
	// -webkit-backface-visibility: hidden;
	// -webkit-perspective: 1000;
	// transform: translateZ(0);
	// -webkit-transform: translateZ(0);
	// -moz-transform: translateZ(0);
	// -o-transform: translateZ(0);
	// -ms-transform: translateZ(0);
}

.modal {
	width : 570px;
}